DATABASE_CONNECTION_STRING="postgres://liamfunk-de:eI+wws3GqCN3TrnB@localhost:5432/liamfunk-de"
ENVIRONMENT="development"
SERVER_HOST="localhost:3000"
VITE_BASE_URL="http://localhost:3000"
POSTGRES_USER="liamfunk-de"
# Generate with: openssl rand -base64 12
POSTGRES_PASSWORD="eI+wws3GqCN3TrnB"